<!DOCTYPE html>
{% load staticfiles %}
{% load filter %}
<html>
<head>

    <script src="{% static "jquery-2.2.4.min.js" %}"></script>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-theme.min.css" %}" rel="stylesheet">
    <link href="{% static "css/core.css" %}" rel="stylesheet">

    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <style>
        .jumbotron {
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-bottom: 20px;
        }

    </style>
</head>

<body>
<div class="jumbotron">
    <h2>Top 3 drivers</h2>
</div>

<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Driver name</th>
            <th>Order</th>
        </tr>
        </thead>
        <tbody>
        {% for driver in drivers %}
            <tr>
                <th>{{ driver|underscore:'_id' }}</th>
                <th>{{ driver.number }}</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>

</html>